[Unit]
Description=Start mvg_stat

[Service]
Environment=DISPLAY=:0
# set user
Environment=XAUTHORITY=/home/pi/.Xauthority
User=pi
# set location
ExecStart=/usr/bin/python3 /usr/local/bin/mvg_stat.py
RuntimeMaxSec=7200
Restart=always
RestartSec=10s
KillMode=process
TimeoutSec=infinity

[Install]
WantedBy=graphical.target

